<form class="d-flex justify-content-center" role="search">
  <input
    (keyup)="suggestion(saisie.value)"
    class="form-control me-2"
    type="search"
    placeholder="Recherche par nom"
    aria-label="Search"
    id="saisie"
    name="saisie" #saisie>
</form>

<ul class="list-group" *ngFor="let restaurant of restaurants">
  <li class="list-group-item">
    <h5>{{restaurant.nom}}</h5>
    <h6>{{restaurant.adresse}}</h6>
    <h6>{{restaurant.tel}}</h6>
    <h6>{{restaurant.type?.nom}}</h6>
    <div *ngIf="restaurant.prix?.categorie == 'e'">
      <i class="fa-solid fa-euro-sign"></i>
    </div>
    <div *ngIf="restaurant.prix?.categorie == 'ee'">
      <i class="fa-solid fa-euro-sign"></i>
      <i class="fa-solid fa-euro-sign"></i>
    </div>
    <div *ngIf="restaurant.prix?.categorie == 'eee'">
      <i class="fa-solid fa-euro-sign"></i>
      <i class="fa-solid fa-euro-sign"></i>
      <i class="fa-solid fa-euro-sign"></i>
    </div>
    <a  class="btn btn-light" [routerLink]="['/restaurant', restaurant.id]">Détails</a>
  </li>
</ul>
